/* Kimball Tracy (last edit: December 15, 2021) */

body {
    /* background-color: #555555; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.common {
    /* background-color: #CCCCCC;
    border: white solid; */
    position: absolute
}

.header {
    top: 0px;
    left: 0px;
    right: 0px;
    height: auto;
    z-index: 2;
    padding-bottom: 11rem;
    line-height: 0px;
    color: white;
}

.leftmenu {
    top: 525px;
    left: 15px;
    width: 100px;
    bottom: 64px;
    padding-top: 5px;
    padding-top: 25px;
}

.mainbody {
    top: 525px;
    left: 114px;
    bottom: 64px;
    right: 114px;
    padding-right: 5px;
}

.rightmenu {
    top: 525px;
    bottom: 64px;
    right: 5px;
    width: 100px;
    
    padding-left: 5px;
    padding-top: 25px;
}

.footer {
    bottom: 5px;
    height: 10px;
    left: 5px;
    right: 5px;
    font-size: 8px;
    color: #999999;
    text-align: center;
    position: fixed;
}

.subheader {
    float: right;
}

.cover {
    top: 0px;
    left: 0px;
    right: 0px;
    height: auto;
    z-index: 2;
    margin-bottom: 10px;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav {
    padding-top: 5px;
    padding-right: 65px;
}

.navitem {
    float: right;
    padding-top: 15px;
    padding-right: 35px;
    color: white;
    font-size: large;
}

.leftnavitem {
    float: left;
    padding-top: 25px;
    padding-left: 115px;
    font-size: large;
}

.center {
    text-align: center;
    align-self: center;
}

li {
    list-style: none;
}


header {
    text-align: center;
    font-size: 3rem;
    padding-top: 10rem;
}

.subheader2 {
    font-size: 1.5rem;
    line-height: 1.1;
}

.anchors {
    color: black;
    z-index: 1;
}

.tableau {
    text-align: center;
    align-self: center;
    max-width: 600px;
    margin-bottom: 35px;
}

h3 {
    background-color: black;
    color: white;
    max-width: 600px;
    padding: 12px;
    padding-right: 0px;
    border-radius: 4px;
}